@import url('/css/global/form.css');

/* --- ESTILOS PROPIOS DE LOGIN.HTML */
/* --- MAIN --- */
.login__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-28);
}

.login__title {
    font-family: var(--font-alternative);
    font-size: var(--font-xjumbo);
    font-weight: 700;
}

/* --- FORM --- */
.login-form__input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--spacing-12);
}

.login-form__content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-42);
}

.login-form__input--remember {
    display: flex;
    justify-content: center;
}
