/* Los contenedores de todas las páginas tienen un ancho máximo de 1200px */
.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* Contenedor: Principal */
.main-container {
    padding: var(--spacing-36) var(--spacing-100);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Clase para aquellos contenedores que tengan íconos */
.with-icon {
    display: flex;
    align-items: center;
    gap: var(--spacing-8);
}

.container__title {
    display: inline-block;
    width: fit-content;
    font-family: var(--font-alternative);
    font-size: var(--font-display);
    font-weight: 700;
    text-transform: uppercase;
    border-bottom: 4px solid var(--primary-solid);
}

/* Links */
.link__blue {
    font-size: var(--font-xsmall);
    color: var(--secondary-900);
    transition: var(--transition--01);
}

.link__blue:hover {
    color: var(--secondary-solid);
    text-decoration-line: underline;
}

.link__blue--payment {
    font-weight: 700;
}

/* Cantidad de items a cargar */
.amount {
    display: flex;
    gap: var(--spacing-8);
}

.amount__btn-container {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.amount__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18px;
    height: 18px;
    padding: 4px;
    font-size: 0rem;
    background-color: var(--dark-500);
    transition: var(--transition--01);
    border: none;
    cursor: pointer;
}

.amount__btn:hover {
    background-color: var(--primary-solid);
}

.amount__input {
    width: 100px;
    appearance: none;
    border: 2px solid var(--border-gray);
    font-size: var(--font-medium);
    font-weight: 700;
    text-align: center;
    transition: var(--transition--01);
}

.amount__input:hover, .amount__input:focus {
    border: 2px solid var(--primary-solid);
    outline: none;
}
