   <!-- FOOTER -->
   <footer>
    <nav class="navbar container">
        <ul>
            <li>
                <a class="navbar__link" href="../shop/shop.html">SHOP</a>
            </li>
            <li>
                <a class="navbar__link" href="../admin/login.html">INGRESAR</a>
            </li>
            <li>
                <a class="navbar__link" href="../contact.html">CONTACTO</a>
            </li>
        </ul>

        <figure class="navbar__logo--footer">
            <a href="../../index.html">
                <img src="../../img/branding/isotype.svg" alt="Isotipo de la tienda Funkoshop">
            </a>
        </figure>
    </nav>
    <p class="footer__copy">All rights reserved 2023 - Funkoshop&copy;</p>
</footer>